:root {
    --purp: rgb(173, 13, 241);
    --blue: rgb(15, 138, 245);
    --perry: #CCCCFF;
    --black: rgb(55, 55, 55);
}

body {
    background-color: var(--black);
    font-family: 'Play', sans-serif;;
}

* {
    margin: 0;
}

h3 {
    color: var(--purp);
}

.wrapper {
    padding: 2% 15%;
}

.flex-cont {
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

.col {
    flex-direction: column;
}

.top-space {
    margin: 2% 0;
}

h3, select, input {
    margin: 3% 0;
    font-family: 'Play', sans-serif;
}

.text {
    font-family: 'Permanent Marker', cursive;
}

#new-fortune-body, #random-fortune-body {
    padding: 1%;
}

.cont {
    background-color: var(--perry);
    border-radius: 10px;
    box-shadow: 5px 5px 25px var(--purp);
}

input, select {
    outline: none;
    border-radius: 5px;
    border: none;
    padding: .3em;
    color: var(--purp);
    background-color: whitesmoke;
}

input:focus {
    box-shadow: inset 0px 1px 10px var(--blue);
    transition: .2s;
}

button {
    border-radius: 10px;
    border: none;
    outline: none;
    color: var(--blue);
    padding: .3em;
    background-color: whitesmoke;
    font-family: 'Play', sans-serif;
}

button:hover {
    background-color: lightgrey;
    color: var(--purp);
    cursor: pointer;
    transition: .2s;
}